<div class="col-md-12">
  <% if @user.errors.messages.length > 0 %>
    <ul id="new-user-error-list">
    <% @user.errors.messages.each do |error| %>
      <li id="new-user-error">
        <%= "#{error[0]}"+" "+"#{error[1][0]}" %>
      </li>
    <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= form_for :user, url: '/users' do |f| %>
      <%= f.text_field :name, placeholder: "name" %><br>
      <%= f.text_field :email, placeholder: "email" %><br>
      <%= f.text_field :phone_number, placeholder: "phone number" %><br>
      <%= f.password_field :password, placeholder: "password" %><br>
      <%= f.password_field :password_confirmation, placeholder: "confirm password" %><br>
      <%= f.submit "REGISTER", class: "button" %>
    <% end %>
    <p class="message">Already registered? <a href="/sessions/new"> Log in</a></p>
  </div>
</div>
