<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="account-wall">
        <p class="sign-in">register</p>
        <form class="form-signin" action="/users" method="POST">
        <input type="text" name="user[name]" class="form-control" placeholder="Name" required autofocus>
        <input type="text" name="user[email]" class="form-control" placeholder="Email" required autofocus>
        <input type="password" name="user[password]" class="form-control" placeholder="Password" required>
        <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Confirm Password" required>
        <button class="btn btn-md btn-danger btn-block" type="submit"> sign up</button><br>
        <p class="message">Already registered?<a href="/users/new"> Log in</a></p><span class="clearfix"></span>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-md-12">
  <div class="form-group">
    <%= form_for :user, url: '/users' do |f| %>
      <%= f.text_field :name, placeholder: "name" %><br>
      <%= f.text_field :email, placeholder: "email" %><br>
      <%= f.text_field :phone_number, placeholder: "phone number" %><br>
      <%= f.password_field :password, placeholder: "password" %><br>
      <%= f.password_field :password_confirmation, placeholder: "confirm password" %><br>
      <%= f.submit "REGISTER", class: "button" %>
    <% end %>
    <p class="message">Already registered? <a href="/sessions/new"> Log in</a></p>
  </div>
</div> -->
