<h1>Sign up for Squad</h1>

<div class="login-page">
  <div class="form">
    <%= form_for :user, url: '/users' do |f| %>
      <%= f.text_field :name %><br>
      <%= f.text_field :email %><br>
      <%= f.password_field :password %><br>
      <%= f.password_field :password_confirmation %><br>
      <%= f.submit "REGISTER" %>
    <% end %>
    <p class="message">Already registered? <a href="/sessions/new">Log in</a></p>
  </div>
</div>
