<h1><%= @user.name %></h1>

<%= link_to "Post a new poll", new_user_poll_path(@user.id) %>

<h2>These polls need your vote</h2>

<ul>
  <% @user.polls_to_answer.each do |poll| %>
    <li><%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %>
  <% end %>
</ul>

<h2>Created polls</h2>

<ul>
  <% @user.sorted_created_polls.each do |poll| %>
    <li><%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %>
  <% end %>
</ul>

<h2>Past polls you've voted in</h2>

<ul>
  <% @user.taken_polls.each do |poll| %>
    <li><%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %>
  <% end %>
</ul>






