<h1><%= @user.name %></h1>

  <div class="container">
  <% if @user.incoming_friend_requests %>
    <% @user.incoming_friend_requests.each do |pending_friend| %>
      <%= pending_friend.adder.name %> - <span class="label label-success"><%= link_to "ACCEPT", user_friendship_path(user_id: @user.id, id: pending_friend.id), method: :put %></span> or <span class="label label-danger"><%= link_to "REJECT", user_friendship_path(user_id: @user.id, id: pending_friend.id), method: :delete %></span><br>
    <% end %>
  <% end %>
</div>


  <h4 class="bg-primary">Polls to vote on</h4>

  <div class="panel-body need">
    <% @user.polls_to_answer.each do |poll| %>
      <li class="list-group-item list-group-item-warning"><%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %></li>
    <% end %>
  </div>


  <h4 class="bg-success">My current polls</h4>

  <div class="panel-body current">
    <% @user.sorted_created_current_polls.each do |poll| %>
      <li class="list-group-item list-group-item-current"><%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %></li>
    <% end %>
  </div>

  <h4 class="bg-info">Recent votes</h4>

  <div class="panel-body recent">
    <% @user.recent_taken_polls.each do |poll| %>
      <li class="list-group-item list-group-item-recent"><%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %></li>
    <% end %>
  </div>

  <h4 class="bg-danger">My archive</h4>

  <div class="panel-body archived">
    <% @user.sorted_created_old_polls.each do |poll| %>
      <li class="list-group-item list-group-item-danger"><%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %></li>
    <% end %>
  </div>
