
  <h1><%= @user.name %></h1>
  <%= link_to "Your Squad", user_friendships_path(@user.id) %><br>
  <%= link_to "Add a member to your Squad", new_user_friendship_path(@user.id) %><br>
  <%= link_to "Post a new poll", new_user_poll_path(@user.id) %><br><br>

  <% if @user.incoming_friend_requests %>
    <% @user.incoming_friend_requests.each do |pending_friend| %>
      <%= pending_friend.adder.name %> - <%= link_to "ACCEPT", user_friendship_path(user_id: @user.id, id: pending_friend.id), method: :put %> or <%= link_to "REJECT", user_friendship_path(user_id: @user.id, id: pending_friend.id), method: :delete %><br>
    <% end %>
  <% end %>


  <h2>These polls need your vote</h2>

    <% @user.polls_to_answer.each do |poll| %>
      <%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %><br>
    <% end %>

  <h2>My current polls</h2>

    <% @user.sorted_created_current_polls.each do |poll| %>
      <%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %><br>
    <% end %>

  <h2>Recent polls you've voted in</h2>

    <% @user.recent_taken_polls.each do |poll| %>
      <%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %><br>
    <% end %>

  <h2>Your old shit</h2>

    <% @user.sorted_created_old_polls.each do |poll| %>
      <%= link_to poll.question, user_poll_path(user_id: poll.creator_id, id: poll.id) %><br>
    <% end %>






