<h2><%= @poll.question %></h2>


<form method="post" action="/users/<%= session[:user_id] %>/polls/<%= @poll.id %>">
  Make your final selection:
  <% @poll.answers.each do |answer| %>
    <br><input type="radio" name="chosen_answer" value="<%= answer.id %>"><%= answer.text %>
  <% end %><br>

  <textarea name="comment" rows="4" cols="50" placeholder="What do you think of these results?"></textarea><br>

  <input type="submit" value="Submit">
  <input type="hidden" name="_method" value="put">
</form>
