<h2>Post a new poll</h2>


<form method="post" action="/users/<%= session[:user_id] %>/polls">
  <textarea name="question" rows="4" cols="50" placeholder="Type your question"></textarea><br>
  Answer:<br>
  <input type="text" name="answer1" value="yes">
  <br>
  Other answer:<br>
  <input type="text" name="answer2" value="no">
  <br><br>
  <input type="radio" name="expiration" value="600">Ten minutes
  <input type="radio" name="expiration" value="3600">One hour
  <input type="radio" name="expiration" value="86400">One day<br><br>
  <input type="submit" value="Submit">
</form>

<%= form_for(@poll, url: {action: 'create'}, multipart: true) do |f| %>

<div class="field">
  <%= f.label :question %>
  <%= f.text_field :question %>
</div>

<div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

<%= f.fields_for :answers do |answer| %>
  <div class="field">
    <%= answer.label :text %>
    <%= answer.text_field :text %>
  </div>
<% end %>

<div class="fields">
  <%= f.label :expiration %>
  <%= f.datetime_local_field :expiration %>
</div>

<div class="field">
  <%= f.submit "Squad Up" %>
</div>

<% end %>