<h2><%= @poll.question %></h2>
<h3>by <%= @poll.creator.name %></h3>

<% if @poll.current? %>
<i>Poll expires <%= @poll.sexy_expiration %></i><br><br>
<% end %>

<% if @poll.creator_id == session[:user_id] %>

  <% @poll.answers.each do |answer| %>
    <%= answer.text %> - <%= answer.votes.count %> votes <% if @poll.votes.count > 0 %> (<%= (answer.votes.count / @poll.votes.count) %>) <% end %><br>
  <% end %><br>

  <% if @poll.current? == true %>
    <%= link_to "End this poll", edit_user_poll_path %>
  <% end %>

<% else %>
  <% if @poll.votes.where(user_id: session[:user_id]).length > 0 %>
    <% @poll.answers.each do |answer| %>
      <%= answer.text %> - <%= answer.votes.count %> votes <% if @poll.votes.count > 0 %> (<%= (answer.votes.count / @poll.votes.count) %>) <% end %><br>
    <% end %><br>
  <% else %>
      <% @poll.answers.each do |answer| %>
        <%= button_to answer.text, votes_path(answer_id: answer.id) %><br>
      <% end %>
  <% end %>
<% end %>

<% if @poll.comment %>
  Comment: <%= @poll.comment %>
<% end %>

