<h2><%= @poll.question %></h2>
<h3>by <%= @poll.creator.name %></h3>



<div id="poll-container">
  <% if @poll.current? %>
    <p><i><%= @time_left %> left to vote</i></i><br><br>
  <% end %>

<% if @poll.creator_id == session[:user_id] %>

  <div id="poll-votes">
    <%= render partial: 'polls/poll_votes', layout: false, locals: {poll: @poll} %>
  </div>
    <% if @poll.current? == true %>
      <%= link_to "End this poll", edit_user_poll_path %>
    <% end %>

<% else %>

  <% if @poll.votes.where(user_id: session[:user_id]).length > 0 && @poll.current? %>
    Thanks for voting!<br><br>
    <div id="poll-votes">
    <%= render partial: 'polls/poll_votes', layout: false, locals: {poll: @poll} %>
    </div>
  <% elsif @poll.votes.where(user_id: session[:user_id]).length > 0 %>
  <div id="poll-votes">
    <%= render partial: 'polls/poll_votes', layout: false, locals: {poll: @poll} %>
  </div>
  <% else %>
  <div id="poll-votes-swipe">
    <div id="poll-answer-left">
      <%= button_to @poll.answers[0].text, votes_path(answer_id: @poll.answers[0].id) %>
    </div>
    <div id="poll-answer-right">
      <%= button_to @poll.answers[1].text, votes_path(answer_id: @poll.answers[1].id) %>
    </div>
  </div>
  <% end %>

<% end %>
</div>

<% if @poll.comment %>
  Comment: <%= @poll.comment %>
<% end %>

