<!DOCTYPE html>
<html>
  <head>
    <title>Squad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="nav">
      <%= render partial: "nav" %>
    </div>
    <div class="banner">
      <%= image_tag("squad-logo.png", alt: "banner") %>
    </div>
    <div class="container">
      <div class="content">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
